<div class="container">
  <div class="d-flex justify-content-center align-items-center p-5 flex-column gap-5">
    <input [(ngModel)]="toFilter" type="text" placeholder="Search" name="" />

    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product name</th>
            <th scope="col">category</th>
            <th scope="col">price</th>
          </tr>
        </thead>
        <tbody>
          @for( item of sorted_data  | filter:toFilter  ;track item.id){
          <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.price }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
